
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    

}
body{
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/039/196/975/large/labuu-20210630xx.jpg?1625206703');
    background-attachment: fixed; 
    background-size: cover;
}



